USE [master]
GO
/****** Object:  Database [PBL3]    Script Date: 21/5/2024 10:28:28 AM ******/
CREATE DATABASE [PBL3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAY1\MSSQL\DATA\PBL3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAY1\MSSQL\DATA\PBL3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL3]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[Soluong] [int] NOT NULL,
	[Dongia] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChitietphieuNhapHang]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitietphieuNhapHang](
	[MaSP] [nvarchar](50) NOT NULL,
	[MaPhieuNhap] [nvarchar](50) NOT NULL,
	[Donvitinh] [nvarchar](50) NOT NULL,
	[SLNhap] [int] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[Dongia] [float] NOT NULL,
 CONSTRAINT [PK_ChitietphieuNhapHang] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChitietPhieuXuatHang]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitietPhieuXuatHang](
	[MaPhieuXuatHang] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SLXuat] [int] NOT NULL,
	[Donvitinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChitietPhieuXuatHang] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuatHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[NgayLapHD] [date] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[VAT] [float] NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[SoDT] [varchar](1) NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[Diemtichluy] [float] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanvienBanHang]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanvienBanHang](
	[MaNV] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[SoDT] [varchar](11) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Matkhau] [nvarchar](50) NOT NULL,
	[MaQL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanvienBanHang] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienQuanLy]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienQuanLy](
	[MaQL] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[SoDT] [varchar](11) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[Diachi] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVienQuanLy] PRIMARY KEY CLUSTERED 
(
	[MaQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienThuKho]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienThuKho](
	[MaNVTK] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[SoDT] [varchar](11) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Diachi] [nvarchar](50) NOT NULL,
	[Matkhau] [varchar](50) NOT NULL,
	[MaQL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVienThuKho] PRIMARY KEY CLUSTERED 
(
	[MaNVTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapHang]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapHang](
	[MaphieuNhap] [nvarchar](50) NOT NULL,
	[Ngaytao] [date] NOT NULL,
	[Nhacungcap] [nvarchar](50) NOT NULL,
	[MaTK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhieuNhapHang] PRIMARY KEY CLUSTERED 
(
	[MaphieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThongKe]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThongKe](
	[MaPhieuTK] [nvarchar](50) NOT NULL,
	[NgayThongKe] [date] NOT NULL,
	[Doanhthu] [float] NOT NULL,
	[Chi] [float] NOT NULL,
	[SoluongKH] [int] NOT NULL,
	[SoluongKHmoi] [int] NOT NULL,
	[MaQL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhieuThongKe] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuathang]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuathang](
	[MaPhieuXuat] [nvarchar](50) NOT NULL,
	[Ngaytao] [date] NOT NULL,
	[MaTK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhieuXuathang] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanpham]    Script Date: 21/5/2024 10:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanpham](
	[MaSP] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[ChungLoai] [nvarchar](50) NOT NULL,
	[NgaySX] [date] NOT NULL,
	[HanSD] [date] NOT NULL,
	[Xuatxu] [nvarchar](50) NOT NULL,
	[GiaBan] [float] NOT NULL,
	[DonviTinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sanpham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Sanpham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Sanpham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Sanpham]
GO
ALTER TABLE [dbo].[ChitietphieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChitietphieuNhapHang_PhieuNhapHang] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhapHang] ([MaphieuNhap])
GO
ALTER TABLE [dbo].[ChitietphieuNhapHang] CHECK CONSTRAINT [FK_ChitietphieuNhapHang_PhieuNhapHang]
GO
ALTER TABLE [dbo].[ChitietphieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChitietphieuNhapHang_Sanpham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Sanpham] ([MaSP])
GO
ALTER TABLE [dbo].[ChitietphieuNhapHang] CHECK CONSTRAINT [FK_ChitietphieuNhapHang_Sanpham]
GO
ALTER TABLE [dbo].[ChitietPhieuXuatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChitietPhieuXuatHang_PhieuXuathang] FOREIGN KEY([MaPhieuXuatHang])
REFERENCES [dbo].[PhieuXuathang] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[ChitietPhieuXuatHang] CHECK CONSTRAINT [FK_ChitietPhieuXuatHang_PhieuXuathang]
GO
ALTER TABLE [dbo].[ChitietPhieuXuatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChitietPhieuXuatHang_Sanpham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Sanpham] ([MaSP])
GO
ALTER TABLE [dbo].[ChitietPhieuXuatHang] CHECK CONSTRAINT [FK_ChitietPhieuXuatHang_Sanpham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanvienBanHang1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanvienBanHang] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanvienBanHang1]
GO
ALTER TABLE [dbo].[NhanvienBanHang]  WITH CHECK ADD  CONSTRAINT [FK_NhanvienBanHang_NhanVienQuanLy] FOREIGN KEY([MaQL])
REFERENCES [dbo].[NhanVienQuanLy] ([MaQL])
GO
ALTER TABLE [dbo].[NhanvienBanHang] CHECK CONSTRAINT [FK_NhanvienBanHang_NhanVienQuanLy]
GO
ALTER TABLE [dbo].[NhanVienThuKho]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienThuKho_NhanVienQuanLy] FOREIGN KEY([MaQL])
REFERENCES [dbo].[NhanVienQuanLy] ([MaQL])
GO
ALTER TABLE [dbo].[NhanVienThuKho] CHECK CONSTRAINT [FK_NhanVienThuKho_NhanVienQuanLy]
GO
ALTER TABLE [dbo].[PhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapHang_NhanVienThuKho] FOREIGN KEY([MaTK])
REFERENCES [dbo].[NhanVienThuKho] ([MaNVTK])
GO
ALTER TABLE [dbo].[PhieuNhapHang] CHECK CONSTRAINT [FK_PhieuNhapHang_NhanVienThuKho]
GO
ALTER TABLE [dbo].[PhieuThongKe]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThongKe_NhanVienQuanLy] FOREIGN KEY([MaQL])
REFERENCES [dbo].[NhanVienQuanLy] ([MaQL])
GO
ALTER TABLE [dbo].[PhieuThongKe] CHECK CONSTRAINT [FK_PhieuThongKe_NhanVienQuanLy]
GO
ALTER TABLE [dbo].[PhieuXuathang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuathang_NhanVienThuKho] FOREIGN KEY([MaTK])
REFERENCES [dbo].[NhanVienThuKho] ([MaNVTK])
GO
ALTER TABLE [dbo].[PhieuXuathang] CHECK CONSTRAINT [FK_PhieuXuathang_NhanVienThuKho]
GO
USE [master]
GO
